.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: grey;
  --border-size: calc(var(--cell-size) / 8);
  border-top: var(--border-size) solid #aaa;
  border-left: var(--border-size) solid #aaa;
  border-bottom: var(--border-size) solid #444;
  border-right: var(--border-size) solid #444;
}

.cell[data-is-open="true"][data-is-active="true"] {
  border-color: white !important;
}

.cell[data-is-open="false"][data-is-active="true"] {
  border-color: white !important;
}

.cell[data-is-open="true"] {
  animation: flash_green 300ms ease-in-out;
  svg {
    animation: pop 100ms ease-in-out;
  }
}

@keyframes flash_green {
  0% {
    background-color: grey;
  }

  50% {
    background-color: rgb(106, 134, 106);
  }

  100% {
    background-color: grey;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop_big {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.cell[data-is-open="false"] {
  &:hover {
    cursor: pointer;
    filter: contrast(0.8);
  }
  &:active {
    cursor: pointer;
    filter: contrast(1.5);
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell svg {
  width: 90%;
  height: 90%;
}

.cell svg:has(.mine) {
  width: 100%;
  height: 100%;
}

.cell[data-is-mine="false"] svg:has(.mine) {
  display: none;
}

.cell[data-is-mine="true"] svg:not(:has(.mine)) {
  display: none;
}

.cell[data-is-open="false"] svg {
  display: none;
}

.cell[data-is-flagged="true"] svg {
  animation: pop_big 100ms ease-in-out;
}
:is(.game:has(.won) .cell[data-is-open="false"], .cell[data-is-flagged="true"])
  svg:has(.flag) {
  display: flex;
}

.cell[data-is-open="true"] svg:has(.flag) {
  display: none;
}

.cell[data-is-open="true"][data-is-mine="false"] {
  border: calc(var(--border-size) / 2) solid #555;
  padding: calc(var(--border-size) / 2);
}

.cell[data-is-open="true"][data-is-mine="true"] {
  border: calc(var(--border-size) / 2) solid #333;
  padding: calc(var(--border-size) / 2);
  background-color: #a00;
}
