svg.seven-segment {
  display: flex;
  width: calc(var(--cell-size) * 0.6);
  height: auto;
  --on-color: #a00;
  --off-color: #230101;
}

svg[data-number="9"] {
  polygon {
    fill: var(--on-color);
  }
  polygon:is(.bottom-left, .bottom) {
    fill: var(--off-color);
  }
}

svg[data-number="8"] polygon {
  fill: var(--on-color);
}

svg[data-number="7"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top, .top-right, .bottom-right) {
    fill: var(--on-color);
  }
}

svg[data-number="6"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top, .top-left, .bottom-left, .bottom, .bottom-right, .center) {
    fill: var(--on-color);
  }
}

svg[data-number="5"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top, .top-left, .bottom, .bottom-right, .center) {
    fill: var(--on-color);
  }
}

svg[data-number="4"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top-left, .top-right, .bottom-right, .center) {
    fill: var(--on-color);
  }
}

svg[data-number="3"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top, .top-right, .bottom-right, .center, .bottom) {
    fill: var(--on-color);
  }
}

svg[data-number="2"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top, .top-right, .bottom-left, .center, .bottom) {
    fill: var(--on-color);
  }
}

svg[data-number="1"] {
  polygon {
    fill: var(--off-color);
  }
  polygon:is(.top-right, .bottom-right) {
    fill: var(--on-color);
  }
}

svg[data-number="0"] {
  polygon {
    fill: var(--on-color);
  }

  polygon:is(.center) {
    fill: var(--off-color);
  }
}
