.settings-icon {
  width: 30px;
  /* height: 30px; */
  /* background-color: white; */
  line {
    transition: all 100ms ease-in-out;
  }

  &:hover {
    line {
      stroke: white;
    }
    cursor: pointer;
    line:first-child {
      transform: translateY(-0.5px);
    }
    line:last-child {
      transform: translateY(0.5px);
    }
  }
}

.settings-form {
  h1 {
    margin-top: 0;
  }
  font-family: monospace;
  font-size: 15px;
  position: absolute;
  width: 335px;
  height: 125px;
  background-color: black;
  z-index: 10;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 0.1em solid rgb(118, 118, 118);
  label {
    display: flex;
    gap: 0.5em;
  }
  select {
    font-family: monospace;
    font-size: inherit;
    width: 300px;
  }
  .close {
    cursor: pointer;
    background: none;
    border: none;
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      font-weight: bold;
    }
  }
}

.game:has(.settings-form) :is(.board, .seven-segment-display, .settings-icon) {
  filter: opacity(0.5);
  pointer-events: none;
}
