.settings-icon {
  width: 30px;

  line {
    transition: all 100ms ease-in-out;
  }

  &:hover {
    line {
      stroke: white;
    }
    cursor: pointer;
    line:first-child {
      transform: translateY(-0.5px);
    }
    line:last-child {
      transform: translateY(0.5px);
    }
  }
}

dialog {
  width: 335px;
  padding: 0;
  border: none;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.558);
}

.settings-form {
  font-family: monospace;
  font-size: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.1em solid rgb(118, 118, 118);
  h1 {
    margin-top: 0;
  }
  label {
    display: flex;
    gap: 0.5em;
  }
  select {
    font-family: monospace;
    font-size: inherit;
    width: 300px;
  }
  .close {
    cursor: pointer;
    background: none;
    border: none;
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      font-weight: bold;
    }
  }
  a {
    display: flex;
    justify-content: end;
    width: 100%;
    color: white;
  }
}
