:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

.board {
  margin-top: 5em;
}

span {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 4px inset black;
}

.cell[data-is-open="true"][data-is-mine="true"] {
  border: 4px inset #a00;
  background-color: #a00;
  .mine {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .horizontal {
      position: absolute;
      width: 25px;
      height: 4px;
      background: black;
      border-radius: 1.5px;
    }
    .vertical {
      position: absolute;
      width: 25px;
      height: 4px;
      background: black;
      border-radius: 1.5px;
      transform: rotate(90deg);
    }
    .horizontal-diagonal {
      position: absolute;
      width: 22px;
      height: 3px;
      background: #111;
      border-radius: 1.5px;
      transform: rotate(45deg);
    }
    .vertical-diagonal {
      position: absolute;
      width: 22px;
      height: 3px;
      background: #111;
      border-radius: 1.5px;
      transform: rotate(135deg);
    }
    .ball {
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 20px;
      background: rgb(0, 0, 0);
    }
    .white {
      position: absolute;
      background: white;
      width: 3px;
      height: 3px;
      border-radius: 1px;
      margin-left: -4px;
      margin-top: -4px;
    }
  }
}
