:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

span {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 4px outset black;
}

.cell[data-is-open="false"] {
  &:hover {
    cursor: pointer;
    filter: contrast(0.8);
    /* border-color: #aaa;
    background-color: #888; */
  }
  &:active {
    cursor: pointer;
    filter: contrast(1.5);
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell svg {
  width: 90%;
  height: 90%;
}

.cell svg:has(.mine) {
  width: 100%;
  height: 100%;
}

.cell[data-is-open="false"] svg {
  display: none;
}

.cell[data-is-flagged="true"] svg:has(.flag) {
  display: flex;
}

.cell[data-is-open="true"] svg:has(.flag) {
  display: none;
}

.cell[data-is-open="true"][data-is-mine="false"] {
  border: 2px solid #555;
  padding: 2px;
}

.cell[data-is-open="true"][data-is-mine="true"] {
  border: 2px solid #333;
  padding: 2px;
  background-color: #a00;
}

.board.game-over {
  .cell {
    pointer-events: none;
    filter: saturate(0);
  }
  &::after {
    font-family: "Courier New";
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;

    content: "Game over";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(185, 0, 0, 0.55);
    width: calc(30px * var(--width));
    height: calc(30px * var(--height));
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.board.game-won {
  .cell {
    pointer-events: none;
    filter: saturate(0);
  }
  &::after {
    font-family: "Courier New";
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;

    content: "You won!";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(6, 185, 0, 0.55);
    width: calc(30px * var(--width));
    height: calc(30px * var(--height));
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
