:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

.board {
  margin-top: 5em;
}

span {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 4px outset black;
}

.cell[data-is-open="false"] {
  &:hover {
    cursor: pointer;
    filter: contrast(0.8);
    /* border-color: #aaa;
    background-color: #888; */
  }
  &:active {
    cursor: pointer;
    filter: contrast(1.5);
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell svg {
  width: 90%;
  height: 90%;
}

.cell[data-is-open="false"] svg {
  display: none;
}

.cell[data-is-open="true"] svg:has(.flag) {
  display: none;
}

.cell[data-is-flagged="true"] svg:has(.flag) {
  display: flex;
}

* {
  box-sizing: border-box;
}

.cell[data-is-open="true"][data-is-mine="false"] {
  border: 2px solid #555;
  padding: 2px;

  &[data-mine-count="5"] .number {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    --color: #520000;
    .a {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 10px;
      margin-left: -12px;
      margin-top: -10px;
    }
    .b {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 10px;
      margin-left: 12px;
      margin-top: 10px;
    }
    .c {
      position: absolute;
      width: 17px;
      background-color: var(--color);
      height: 5px;
      margin-left: 0px;
      margin-top: -15px;
    }
    .d {
      position: absolute;
      width: 13px;
      background-color: var(--color);
      height: 5px;
      margin-left: -4px;
      margin-top: 0px;
    }
    .e {
      position: absolute;
      width: 13px;
      background-color: var(--color);
      height: 5px;
      margin-left: -4px;
      margin-top: 20px;
    }
    .f {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 5px;
      margin-left: 10px;
      margin-top: 2px;
      transform: rotate(35deg);
    }
    .g {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 5px;
      margin-left: 10px;
      margin-top: 18px;
      transform: rotate(calc(180deg - 35deg));
    }
  }
  &[data-mine-count="6"] .number {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    --color: #005252;
    .a {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 15px;
      margin-left: -10px;
    }
    .b {
      position: absolute;
      width: 10px;
      background-color: var(--color);
      height: 5px;
      margin-left: 5px;
      margin-top: -16px;
    }
    .c {
      position: absolute;
      width: 8px;
      background-color: var(--color);
      height: 5px;
      margin-left: 2px;
      margin-top: 16px;
    }
    .d {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: 16px;
      margin-top: 8px;
    }
    .e {
      position: absolute;
      width: 8px;
      background-color: var(--color);
      height: 5px;
      margin-left: 2px;
      margin-top: -0px;
    }
    .f {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: -7px;
      margin-top: -14px;
      transform: rotate(60deg);
    }
    .g {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: -7px;
      margin-top: 13px;
      transform: rotate(calc(180deg - 60deg));
    }
    .h {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: 13px;
      margin-top: 13px;
      transform: rotate(60deg);
    }
    .i {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: 13px;
      margin-top: 3px;
      transform: rotate(calc(180deg - 60deg));
    }
    .j {
      position: absolute;
      width: 5px;
      background-color: var(--color);
      height: 6px;
      margin-left: -7px;
      margin-top: 3px;
      transform: rotate(60deg);
    }
  }
}

/* #005252 */

.cell[data-is-open="true"][data-is-mine="true"] {
  border: 2px solid #333;
  padding: 2px;
  background-color: #a00;
  .mine {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .horizontal {
      position: absolute;
      width: 25px;
      height: 4px;
      background: black;
      border-radius: 1.5px;
    }
    .vertical {
      position: absolute;
      width: 25px;
      height: 4px;
      background: black;
      border-radius: 1.5px;
      transform: rotate(90deg);
    }
    .horizontal-diagonal {
      position: absolute;
      width: 22px;
      height: 3px;
      background: #111;
      border-radius: 1.5px;
      transform: rotate(45deg);
    }
    .vertical-diagonal {
      position: absolute;
      width: 22px;
      height: 3px;
      background: #111;
      border-radius: 1.5px;
      transform: rotate(135deg);
    }
    .ball {
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 20px;
      background: rgb(0, 0, 0);
    }
    .white {
      position: absolute;
      background: white;
      width: 3px;
      height: 3px;
      border-radius: 1px;
      margin-left: -4px;
      margin-top: -4px;
    }
  }
}
